<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>663205387440-4ivstdblqfnch6n5dsd2o3brk0nbdk53.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.663205387440-4ivstdblqfnch6n5dsd2o3brk0nbdk53</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>663205387440-p8q56jmv74q2v8g5lo6porb1nhqt03jh.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCE3j1cT4GP-nxwq07NZNgxSjyZ1JC2kLU</string>
	<key>GCM_SENDER_ID</key>
	<string>663205387440</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>host.exp.exponent</string>
	<key>PROJECT_ID</key>
	<string>valen-tines</string>
	<key>STORAGE_BUCKET</key>
	<string>valen-tines.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:663205387440:ios:f0296617dfb9de1fe22f75</string>
</dict>
</plist>